<p>
    <!-- Begin MailChimp Signup Form -->

    <style type="text/css">
        #mc_embed_signup {
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
        }

        #mc_embed_signup .button{
            background-color: #D41E1E;
        }


        #mc_embed_signup .email_signup {
            box-sizing: border-box;
            background: transparent;
            border: none;
            display: inline-block;
            border-bottom: 1px solid #ffffff;
            padding-bottom: 15px;

        }

        #mc_embed_signup .email_signup:focus {
            border-bottom: 2px solid #ffffff;

        }

        #mc_embed_signup input.button {
            display: inline-block;
        }

        ::-webkit-input-placeholder {
            color: #aca6de;
        }

        :-moz-placeholder { /* Firefox 18- */
            color: #aca6de;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            color: #aca6de;
        }

        :-ms-input-placeholder {
            color: #aca6de;
        }

        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>


<!--End mc_embed_signup-->
</p>
