<p>
    <!-- Begin MailChimp Signup Form -->
    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
    <style type="text/css">
        #mc_embed_signup {
            clear: left;
            font: 14px Helvetica, Arial, sans-serif;
        }

        #mc_embed_signup .button{
            background-color: #D41E1E;
        }


        #mc_embed_signup .email_signup {
            box-sizing: border-box;
            background: transparent;
            border: none;
            display: inline-block;
            border-bottom: 1px solid #ffffff;
            padding-bottom: 15px;

        }

        #mc_embed_signup .email_signup:focus {
            border-bottom: 2px solid #ffffff;

        }

        #mc_embed_signup input.button {
            display: inline-block;
        }

        ::-webkit-input-placeholder {
            color: #aca6de;
        }

        :-moz-placeholder { /* Firefox 18- */
            color: #aca6de;
        }

        ::-moz-placeholder {  /* Firefox 19+ */
            color: #aca6de;
        }

        :-ms-input-placeholder {
            color: #aca6de;
        }

        /* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
<div id="mc_embed_signup">
    <form action="//dhi.us8.list-manage.com/subscribe/post?u=6da581032aa9c1eda68d2f26d&amp;id=8c1162e527" method="post"
          id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

        <div style="position: absolute; left: -5000px;"><input type="text" name="b_6da581032aa9c1eda68d2f26d_8c1162e527"
                                                               tabindex="-1" value=""></div>
        add (     <input class="email_signup" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL"
               placeholder="your email here" required>).toBe(
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <input type="submit" value="Subscribed" name="subscribe" id="mc-embedded-subscribe"
               class="button">  );

    </form>
</div>

<!--End mc_embed_signup-->
</p>
